<div class="social">
  {% if page.social.twitch %}
    <a href="https://www.twitch.tv/spacesofplay"><i class="fa fa-twitch"></i></a>
  {% endif %}  

  {% if page.social.twitter %}
    <a href="https://twitter.com/{{page.social.twitter}}"><i class="fa fa-twitter"></i></a>
  {% endif %}  

  {% if page.social.facebook %}
    <a href="https://facebook.com/{{page.social.facebook}}"><i class="fa fa-facebook"></i></a>
  {% endif %}  

  {% if page.social.tumblr %}
    <a href="http://{{page.social.tumblr}}.tumblr.com"><i class="fa fa-tumblr"></i></a>
  {% endif %}  
</div>