body {
  padding-bottom: 16px;
}

header {
  margin-bottom: 24px;

  @include media(max-width 640px) {
    text-align: center;
  }
}

nav { 
  @include outer-container;
  padding: 0 24px;

  ul {
    display: inline;

    @include media(640px) {
      display: block;
      width: 100%;
    }
  }   
  
  li {
    display: inline;
    padding: 0 4px;
    
    @include media(640px) {
      margin-right: 11px;
      padding: 0;
    }
  }
}

a, .gallery img, button {
  transition: opacity .25s ease-in-out;

  &:hover {
    opacity: 0.75;
  };
}

.main-container {
  @include outer-container;    
  z-index: 1;
}

.content {
  @include outer-container;
  padding: 0 24px;
}

.gallery {
  img {
    @include omega(4n);    
    @include span-columns(3);    
    margin-bottom: 2.35765%;

    @include media(max-width 640px) {
      @include omega(2n);    
      @include span-columns(6);    
    }
  }
  
  &:after {
    content:'';
    display: block;
    clear: both;
  }
}