---
---

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} {% if page.title != nil %}– {% endif %}{{site.data.studio.name}}</title>
	<link rel="stylesheet" type="text/css" href="/css/combined.css">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="author" content="{{site.data.studio.name}}">
  <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.data.studio.description}}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{page.description}}{% else %}{{site.data.studio.description}}{% endif %}"/>
  {% if page.social.image %}
    {% capture path %}{{ page.slug }}/social/{% endcapture %}
    {% assign social_image_url = page.social.image | prepend: path | asset_path %}
    <meta name="twitter:image" content="{{social_image_url}}"/>
    <meta name="og:image" content="{{social_image_url}}"/>
  {% endif %}

  <meta property="og:description" name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.data.studio.description}}{% endif %}" />
  <meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}{{site.data.studio.name}}{% endif %}" />
  <meta property="og:site_name" content="{{site.data.studio.name}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}{{page.url|remove:'index.html'}}" />
  
  {% javascript main %}
  
  <style>
    body {
      {% if page.colors[0] %}
      background: {{page.colors[0]}};
      {% endif %}

      {% if page.colors[2] %}
      color: {{page.colors[2]}};
      {% endif %}
    }
    
    blockquote, cite {
      {% if page.colors[2] %}
      color: {{page.colors[2]}};
      {% endif %}      
    }
    
    a, a:hover {
      {% if page.colors[1] %}
      color: {{page.colors[1]}};
      {% endif %}      
    }
  </style>
</head>

<body>
	<div class="main-container">
    <header>
      {% include navigation.html %}
      <div style="clear: both"></div>
    </header>

    <div class="content">
      {{ content }}
    </div>
	</div>  
</body>
</html>