---
layout: compress
---

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} {% if page.title != nil %}– {% endif %}{{site.data.studio.name}}</title>
	<link rel="stylesheet" type="text/css" href="/css/combined.css">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="alternate" type="application/rss+xml" href="/blog/feed.xml">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="author" content="{{site.data.studio.name}}">
  <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.data.studio.description}}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{page.description}}{% else %}{{site.data.studio.description}}{% endif %}"/>
  {% if page.social.image %}
    {% capture path %}{{ page.slug }}/social/{% endcapture %}
    {% assign social_image_url = page.social.image | prepend: path | asset_path %}
    <meta name="twitter:image" content="{{social_image_url}}"/>
    <meta name="og:image" content="{{social_image_url}}"/>
  {% endif %}

  <meta property="og:description" name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.data.studio.description}}{% endif %}" />
  <meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}{{site.data.studio.name}}{% endif %}" />
  <meta property="og:site_name" content="{{site.data.studio.name}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}{{page.url|remove:'index.html'}}" />
  
  {% javascript main %}
  
	<script>
    $(document).ready(function() {
      init();
      
      {% if site.data.config.cookie_consent.show == true %}
        cookieChoices.showCookieConsentBar('{{site.data.config.cookie_consent.message}}',
        'OK', 'Learn more', '{{site.data.config.cookie_consent.link}}');
      {% endif %}  

      {% if page.background_image %}
        $.backstretch("{{page.background_image | asset_path}}");
      {% endif %}  
    });
	</script>

  {% include color_scheme.html %}
</head>

<body>
	<div class="main-container">
    <header>
      {% include navigation.html %}
      <div style="clear: both"></div>
    </header>

    <div class="content">
      {{ content }}
    </div>
	</div>  
</body>
</html>